@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;600&family=Schibsted+Grotesk:wght@300;400;500;600;700&display=swap");
/* -------------------------------------------------------------------------- */
/*                           Defaults and Variables                           */
/* -------------------------------------------------------------------------- */
:root {
  --bright: hsl(0, 26%, 96%);
  --night: hsl(269, 64%, 11%);
  --pale: hsl(236, 18%, 85%);
  --accent: hsl(250, 82%, 49%);
  --foreground-color: var(--night);
  --background-color: var(--bright);
  background: var(--background-color);
  color: var(--foreground-color);
  --fs-base: 16px;
  --fs-a: 4.5rem;
  --fs-b: 2.75rem;
  --fs-c: 1.75rem;
  --fs-d: var(--fs-base);
  --lh-base: 1.5;
  --lh-a: 1;
  --lh-b: 1.25;
  --lh-c: 1.3;
  --lh-d: var(--lh-base);
  --ls-base: 0em;
  --ls-a: -0.035em;
  --ls-b: -0.025em;
  --ls-c: -0.015em;
  --ls-d: var(--ls-base);
  --fw-base: 400;
  --fw-a: 600;
  --fw-b: 600;
  --fw-c: 500;
  --fw-d: var(--fw-base);
  --unit-base: var(--fs-base);
  --unit-a: calc(var(--unit-base) * 4);
  --unit-b: calc(var(--unit-base) * 2);
  --unit-c: calc((var(--unit-base) / 2) * 3);
  --unit-d: var(--unit-base);
  --unit-e: calc(var(--unit-base) * 0.75);
  --unit-f: calc(var(--unit-base) * 0.5);
  --ff-primary: "Schibsted Grotesk", "DM Sans", "Open Sans", "Inter", Helvetica, Arial, sans-serif;
  font-family: var(--ff-primary);
  --radius-a: 1rem;
  --radius-b: 0.5rem;
  --radius-c: 0.25rem;
  --bdrwidth-a: 2px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--fs-base);
}

img,
input {
  display: block;
}

fieldset {
  border: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Mix-ins                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 Type Levels                                */
/* -------------------------------------------------------------------------- */
.typelvl-a {
  font-size: var(--fs-a);
  font-weight: var(--fw-a);
  line-height: var(--lh-a);
  letter-spacing: var(--ls-a);
  margin-inline-start: -0.035em;
  margin-block-end: var(--unit-a);
}

.typelvl-b {
  font-size: var(--fs-b);
  font-weight: var(--fw-b);
  line-height: var(--lh-b);
  letter-spacing: var(--ls-b);
  margin-block-end: var(--unit-b);
}

.typelvl-c {
  font-size: var(--fs-c);
  font-weight: var(--fw-c);
  line-height: var(--lh-c);
  letter-spacing: var(--ls-c);
  margin-block-end: var(--unit-d);
}

.overline {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-block-end: 1rem;
}

p {
  margin-block: var(--unit-d);
}

.label--settings {
  display: block;
  margin-block-end: var(--unit-f);
  font-weight: var(--fw-c);
  text-transform: uppercase;
}

input:not([type=radio]),
select,
textarea,
button {
  display: block;
  padding: var(--unit-f);
  width: 100%;
  border: var(--bdrwidth-a) solid var(--pale);
  border-radius: var(--radius-b);
}

textarea {
  min-height: 30ch;
}

button {
  font-family: var(--ff-primary);
  background: var(--foreground-color);
  color: var(--background-color);
  padding: var(--unit-d);
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.main {
  margin: var(--unit-a);
}

.tuner__section {
  display: flex;
  flex-direction: column;
  gap: var(--unit-a);
}

.t__fieldset:not(:last-of-type) {
  margin-block-end: var(--unit-b);
}

.t__fieldset:not(:last-of-type)::after {
  content: "";
  display: block;
  margin-block-start: var(--unit-b);
  margin-inline: auto;
  width: clamp(10ch, 20%, 70ch);
  height: 1px;
  border-bottom: var(--bdrwidth-a) solid var(--pale);
}

.fset__heading {
  margin-block-end: var(--fs-c);
}

.inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--unit-b);
}

.input-wrapper {
  flex: 1 1 40%;
  min-width: 35ch;
}

.input__radio .label--settings {
  margin-block: 0;
}

.input__radio {
  display: flex;
}

.t__codewrapper {
  padding: var(--unit-b);
  background: var(--pale);
  flex: 2 2 40%;
  border-radius: var(--radius-b);
}

/* Code Areas */
.code-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--unit-b);
}

.code-area {
  display: flex;
  flex-direction: column;
  gap: var(--unit-d);
  flex: 1 1 auto;
  min-width: 35ch;
}

/* -------------------------------------------------------------------------- */
/*                                    Niche                                   */
/* -------------------------------------------------------------------------- */
.lsett__input,
.lsett__output {
  font-size: var(--fs-c);
  font-weight: 600;
  text-transform: none;
}

.inputBtn,
.outputBtn {
  font-size: var(--fs-c);
}/*# sourceMappingURL=style.css.map */