@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;600&family=Schibsted+Grotesk:wght@300;400;500;600&display=swap');

/* -------------------------------------------------------------------------- */
/*                           Defaults and Variables                           */
/* -------------------------------------------------------------------------- */

:root {
	--bright: hsl(0, 26%, 96%);
	--night: hsl(269, 64%, 11%);
	--pale: hsl(236, 18%, 85%);
	--accent: hsl(250, 82%, 49%);

	--foreground-color: var(--night);
	--background-color: var(--bright);

	background: var(--background-color);
	color: var(--foreground-color);

	--fs-base: 16px;
	--fs-a: 4.5rem;
	--fs-b: 2.75rem;
	--fs-c: 1.75rem;
	--fs-d: var(--fs-base);

	--lh-base: 1.5;
	--lh-a: 1;
	--lh-b: 1.25;
	--lh-c: 1.3;
	--lh-d: var(--lh-base);

	--ls-base: 0em;
	--ls-a: -0.035em;
	--ls-b: -0.025em;
	--ls-c: -0.015em;
	--ls-d: var(--lh-base);

	--fw-base: 400;
	--fw-a: 600;
	--fw-b: 600;
	--fw-c: 500;
	--fw-d: var(--lh-base);

	--unit-base: var(--fs-base);
	--unit-a: calc(var(--unit-base) * 4);
	--unit-b: calc(var(--unit-base) * 2);
	--unit-c: calc((var(--unit-base) / 2) * 3);
	--unit-d: var(--unit-base);
	--unit-e: calc(var(--unit-base) * 0.75);
	--unit-f: calc(var(--unit-base) * 0.5);

	--ff-primary: 'Schibsted Grotesk', 'DM Sans', 'Open Sans', 'Inter', Helvetica, Arial, sans-serif;
	font-family: var(--ff-primary);

	--radius-a: 1rem;
	--radius-b: 0.5rem;
	--radius-c: 0.25rem;

	--bdrwidth-a: 2px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-size: var(--fs-base);
}

img,
input {
	display: block;
}

fieldset {
	border: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Mix-ins                                  */
/* -------------------------------------------------------------------------- */

@mixin typelvl($letter) {
	font-size: var(--fs-#{$letter});
	font-weight: var(--fw-#{$letter});
	line-height: var(--lh-#{$letter});
	letter-spacing: var(--ls-#{$letter});
}

/* -------------------------------------------------------------------------- */
/*                                 Type Levels                                */
/* -------------------------------------------------------------------------- */
.typelvl-a {
	@include typelvl(a);
	margin-inline-start: -0.035em;
	margin-block-end: var(--unit-a);
}

.typelvl-b {
	@include typelvl(b);
	margin-block-end: var(--unit-b);
}

.typelvl-c {
	@include typelvl(c);
	margin-block-end: var(--unit-d);
}

.overline {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-block-end: 1rem;
}

p {
	margin-block: var(--unit-d);
}

.input-wrapper:not(:last-of-type) {
	margin-block-end: var(--unit-d);
}

.label--settings {
	display: block;
	margin-block-end: var(--unit-f);
	font-weight: var(--fw-c);
	text-transform: uppercase;
}

input,
select,
textarea,
button {
	display: block;
	padding: var(--unit-f);
	width: 100%;
	border: var(--bdrwidth-a) solid var(--pale);
	border-radius: var(--radius-b);
}

button {
	font-family: var(--ff-primary);
	background: var(--foreground-color);
	color: var(--background-color);
	padding: var(--unit-d);
	text-transform: uppercase;
	cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */

.main {
	margin: var(--unit-a);
}

// .sidebar {
// 	width: clamp(200px, 18%, 300px);
// }

.tuner-wrapper {
	flex: 3 3 auto;
}

.t__fieldset:not(:last-of-type) {
	margin-block-end: var(--unit-b);
}

.t__settings {
	flex: 3 3 60%;
}

.inputs-wrapper {
	padding-block-end: var(--unit-b);
	border-block-end: var(--bdrwidth-a) solid var(--pale);
}

.t__codeareas {
	padding: var(--unit-b);
	flex: 2 2 40%;
	background: var(--pale);
}

/* Code Areas */
.code-area {
	display: flex;
	flex-direction: column;
}
