@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;600&family=Schibsted+Grotesk:wght@400;500;600&display=swap");
/* -------------------------------------------------------------------------- */
/*                           Defaults and Variables                           */
/* -------------------------------------------------------------------------- */
:root {
  --bright: hsl(0, 26%, 96%);
  --night: hsl(269, 64%, 11%);
  --pale: hsl(235, 21%, 89%);
  --accent: hsl(250, 82%, 49%);
  --foreground-color: var(--night);
  --background-color: var(--bright);
  background: var(--background-color);
  color: var(--foreground-color);
  --fs-base: 16px;
  --fs-a: 4.35rem;
  --fs-b: 2.55rem;
  --fs-c: 1.75rem;
  --fs-d: var(--fs-base);
  --lh-base: 1.5;
  --lh-a: 1;
  --lh-b: 1.25;
  --lh-c: 1.3;
  --lh-d: var(--lh-base);
  --ls-base: 0em;
  --ls-a: -0.035em;
  --ls-b: -0.025em;
  --ls-c: -0.015em;
  --ls-d: var(--lh-base);
  --fw-base: 400;
  --fw-a: 600;
  --fw-b: 600;
  --fw-c: 500;
  --fw-d: var(--lh-base);
  --unit-base: var(--fs-base);
  --unit-a: calc(var(--unit-base) * 4);
  --unit-b: calc(var(--unit-base) * 2);
  --unit-c: calc((var(--unit-base) / 2) * 3);
  --unit-d: var(--unit-base);
  --unit-e: calc(var(--unit-base) * 0.75);
  --unit-f: calc(var(--unit-base) * 0.5);
  font-family: "Schibsted Grotesk", "DM Sans", "Open Sans", "Inter", Helvetica, Arial, sans-serif;
  --radius-a: 1rem;
  --radius-b: 0.5rem;
  --radius-c: 0.25rem;
  --bdrwidth-a: 2px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--fs-base);
}

img,
input {
  display: block;
}

fieldset {
  border: none;
}

/* -------------------------------------------------------------------------- */
/*                                   Mix-ins                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 Type Levels                                */
/* -------------------------------------------------------------------------- */
.typelvl-a {
  font-size: var(--fs-a);
  font-weight: var(--fw-a);
  line-height: var(--lh-a);
  letter-spacing: var(--ls-a);
  margin-inline-start: -0.035em;
  margin-bottom: var(--unit-a);
}

.typelvl-b {
  font-size: var(--fs-b);
  font-weight: var(--fw-b);
  line-height: var(--lh-b);
  letter-spacing: var(--ls-b);
  margin-bottom: var(--unit-b);
}

.typelvl-c {
  font-size: var(--fs-c);
  font-weight: var(--fw-c);
  line-height: var(--lh-c);
  letter-spacing: var(--ls-c);
  margin-bottom: var(--unit-d);
}

.overline {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1rem;
}

p {
  margin-block: 1em;
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.main {
  margin: var(--unit-a);
}

.tuner-wrapper {
  flex: 3 3 auto;
}

.t__settings {
  flex: 3 3 60%;
}

.t__codeareas {
  padding: var(--unit-b);
  flex: 2 2 40%;
  background: var(--pale);
}

/* Code Areas */
.code-area {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */